In [ ]:
import pandas as pd

stadium_data = pd.read_csv('stadiums.csv')
# display(stadium_data)

nhl_stadium_data =  stadium_data[stadium_data['League'] == 'NHL']
display(nhl_stadium_data.head())
print(len(nhl_stadium_data))

# check what teams are in the nhl
nhl_teams = nhl_stadium_data['Team'].unique()
print(nhl_teams)

                   Team League  Division        Lat        Long
62  Tampa Bay Lightning    NHL  Atlantic  27.942700  -82.451800
63         Dallas Stars    NHL   Central  32.790556  -96.810278
64   Colorado Avalanche    NHL   Central  39.748700 -105.007600
65   Montreal Canadiens    NHL  Atlantic  45.496111  -73.569444
66  Nashville Predators    NHL   Central  36.159167  -86.778611

32
['Tampa Bay Lightning' 'Dallas Stars' 'Colorado Avalanche'
 'Montreal Canadiens' 'Nashville Predators' 'Winnipeg Jets'
 'Ottawa Senators' 'Washington Capitals' 'Seattle Kraken'
 'Los Angeles Kings' 'St. Louis Blues' 'Flordia Panthers'
 'Arizona Coyotes' 'Anaheim Ducks' 'Buffalo Sabres' 'Detroit Red Wings'
 'New York Rangers' 'Columbus Blue Jackets' 'Carolina Hurricanes'
 'Pittsburgh Penguins' 'New Jersey Devils' 'Vancouver Canucks'
 'Edmonton Oilers' 'San Jose Sharks' 'Toronto Maple Leafs'
 'Calgary Flames' 'Boston Bruins' 'Vegas Golden Knights'
 'New York Islanders' 'Chicago Blackhawks' 'Philadeliphia Flyers'
 'Minnesota Wild']

In [ ]:
# Arizona Coyotes moved to Utah as of 2024. Need to add this to the data.

#TODO: get abbreviated name column for each team
#TODO: (nice to have) get the team logo for each team